
/*applies to all body*/
body {
    background-color: white;
    font-family: arial, sans-serif;
    padding-bottom: 18%;
}

/*applies to header elements*/
.header{
    width: 100%;
    background-size: 100%;
    padding: 2%;
    padding-left: 5%;
    background-image: url('images/banner.jpg');
    background-repeat: no-repeat;
}

/*applies to title of the webiste*/
#titleDiv{
    display: flex;
    align-items: center;
    padding: 3%;
}

.title{
    font-family: 'Paytone One', sans-serif;
    font-size: 60px;
    color: #e8f5e9;
    letter-spacing: 2px;
    
}

/*applies to h4 'Top Campsites' & name of campsite on campsitepg2.html*/
h4{
    font-family: 'Paytone One', sans-serif;
    color: #2A4136;
    margin-bottom: 30px;
    font-size: 30px;
}

/*styling for div that camp info will show in on main page*/
.card-panel{
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.img{
    display: inline-block;
    width: 21%;
}

img{
    max-width: 50%;
    height: auto;
}

.campInfo{
    display: inline-block;
    width: 70%;
    padding: 4%;
    margin-left: 2%;
}

/*div that park info will display in campsitepg2.html*/

#loadedContent {
    border: 2px solid black;
    padding: 50px;
    margin: auto;
}

.totalParks {
    padding-bottom: 20px;
    font-size: large;
}

/* State Dropdown Bar*/

li {
    display: inline;
}

#dropdownDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.5%;
    color: white;
}

#dropdown-menu{
    background-color: #29654D;
    
    
}

#dropdown-menu:hover{
    background-color: #3E9F78;  
}

.selectedState { 
    color: white;
    background-color: #29654D;
    opacity: 85%;
}

.dropdown-content .selectedState { 
    color: white;
    background-color: #29654D;
    opacity: 75%;
}

.dropdown-content .selectedState:hover {
    color: black;
    background-color: #f4d18f;
}



/*hide class*/
.hide {
    display: none;
}

/*footer styling*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0px;
    margin: -5px;
    background-color: #29654D;
    opacity: 75%;
    color: white;
    text-align: center;
}

/* MEDIA QUERIES */

/*
  These rules take effect when the browser's width is either 1200px or less.
*/
@media screen and (max-width: 1200px) {

    .card-panel{
        display: flex;
        flex-direction: column;
    }

    #paragraphText{
        display: inline-block;
        width: 100%;
        padding: 2%;
    }

    .title{
        font-family: 'Paytone One', sans-serif;
        font-size: 30px;
        color: #e8f5e9;
        letter-spacing: 2px;
    }


/* These rules take into effect when the browser's width is 600 px or less.*/

@media screen and (max-width: 600px) {

    .title{
        font-family: 'Paytone One', sans-serif;
        font-size: 20px;
        color: #e8f5e9;
        letter-spacing: 2px;
    }

    #dropdownDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3%;
        color: white;
    }

  
    #dropdown-menu{
        background-color: #29654D;  
        font-size: 8px;
    }

    .dropdown-content .selectedState { 
        color: white;
        background-color: #29654D;
        height: 2px;
        display: flex;
        align-items: center;
        font-size: 11px;
        white-space: nowrap;
    }

    #dropdownDiv {
        color: white;
        margin: 0;
    }

    .dropdown-content .selectedState { 
        color: white;
        background-color: #29654D;
        opacity: 75%;
        height: 2%;
        display: flex;
        align-items: center;
        font-size: 11px;
    }
}

/* These rules take into effect when the browser's width is 320 px or less.*/
@media screen and (max-width: 320px){

    .title{
        font-family: 'Paytone One', sans-serif;
        font-size: 15px;
        color: #e8f5e9;
        letter-spacing: 2px;
    }

    #dropdown-menu{
        margin-top: 6%;
        align-content: center;
        text-align: center;
        font-size: 6px;
    }


    #dropdownDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        color: white;
    }

    .dropdown-content .selectedState { 
        color: white;
        background-color: #29654D;
        opacity: 75%;
        height: 2%;
        display: flex;
        align-items: center;
        font-size: 11px;
        white-space: nowrap;
}
}
}