/*applies to all body*/
body {
    background-color: #fffde7;
}

/*applies to header elements*/
.header{
    width: 100vw;
    padding: 100px;
    background-color: #388e3c;
    background-image: url('images/banner.jpg');
}

/*applies to title of the webiste*/
.title{
    font-family: 'Paytone One', sans-serif;
    font-size: 50px;
    color: #e8f5e9;
    letter-spacing: 2px;
}

/*applies to h4 'Top Campsites'*/
h4{
    font-family: 'Paytone One', sans-serif;
    color: #2A4136;
    margin-bottom: 30px;
}

/*styling for div that camp information will show in*/
.card-panel{
    display: inline-block;
}

#campsiteImage{
    display: inline-block;
    width: 25%;
}

#paragraphText{
    display: inline-block;
    width: 75%;
    padding: 20px;
}

/*footer styling*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #D5AC5A;
    opacity: 75%;
    color: white;
    text-align: center;
  }