

#heading {
 
    color: white;

}

body {
    background-color: white;

}

.header{
    padding: 100px;
    background-color: #388e3c;
    background-image: url('images/banner.jpg');
}

.title{
    font-family: 'Paytone One', sans-serif;
    font-size: 50px;
    color: #e8f5e9;
    letter-spacing: 2px;
}

h4{
    font-family: 'Paytone One', sans-serif;
    color: #2A4136;
    margin-bottom: 30px;
}

 #campsiteHeader{
     background-color: #f4d18f ;
     display: block;
     line-height: 18px;
 }

 #csHeadText {
     color: #2A4136;


 }

 li {
     display: inline;
 }
#loadedContent {
    border: 2px solid black;
    padding: 50px;
    margin: auto;
}
#logo {
    padding: auto;
    margin: 10px;
}

.menu {
    display: block;
    position: relative;
    cursor: pointer;
  }
  .menu-title {
    display: block;
    width: $menu_WIDTH;
    height: 40px;
    padding: 12px 0 0;
    background: #9dc852;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s background-color;
  }


  .menu-title:before {
    content: "";
    display: block;
    height: 0;
    border-top: 5px solid #9dc852;
    border-left: ($menu_WIDTH / 2) solid 
  }

.menu-title:hover {
     background: #8db842; }

.menu-title:hover:before { 
    border-top-color: #8db842; }


#dropdown-menu {
    padding: 5px;
    margin: 80px;
    align-content: center;
}