<<<<<<< HEAD
#heading {
 
    color: white;
=======
>>>>>>> d304a19cc75486ada4dad613a092a8475b42827f

body {
    background-color: #fffde7;
}

.header{
    padding: 100px;
    background-color: #388e3c;
    background-image: url('images/banner.jpg');
}

.title{
    font-family: 'Paytone One', sans-serif;
    font-size: 50px;
    color: #e8f5e9;
    letter-spacing: 2px;
}

h4{
    font-family: 'Paytone One', sans-serif;
    color: #2A4136;
    margin-bottom: 30px;
}

<<<<<<< HEAD

=======
.card-panel{
    display: inline-block;
}

#campsiteImage{
    display: inline-block;
    width: 25%;
}

#paragraphText{
    display: inline-block;
    width: 75%;
    padding: 20px;
}
>>>>>>> 658647561b5c615c68b88f95fd236ee3fccac4e2
